// Variables
$primary-color: gray;
$secondary-color: aqua;

// Map of font weights
$font-weights: (
  "regular": 400,
  "medium": 600,
  "bold": 800,
);

$font-color: (
  "normal": white,
  "warn": yellow,
  "reject": red,
);

body {
  background: $primary-color;
}

.main p {
  font-weight: map-get($font-weights, regular);
  color: map-get($font-color, warn);
}
